html {
	height:  100%;
}

body {
	background-color:  rgba(16, 64, 13, 1);
	height:  100%;
	overflow: hidden;
}

.bg-cover {
	background-size: cover !important;
	background: url("../css/bg-xsmall.png") no-repeat center fixed;
}

#main {
	max-width: 1000px;
	background-color:  rgba(16, 64, 13, 0.5);
	overflow-y: auto;
}

.header {
	background-color:  rgba(16, 64, 13, 0.5);
	padding-top: 10px;
	padding-bottom: 20px;
	color: #FFFFFF;
}

.input_buttons {
	padding-top: 10px;
}

#img-logo {
	max-width: 300px;
}

#img-crest {
	max-width: 80px;
}

#tables_info, #tables_lottery {
	padding-top:  20px;
}

p, h3, h4, .table caption {
	color:  #FFFFFF;
}

a {
	color: #49C0FB;
}

a:hover {
	color: #3A9AC9;
}
